<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yinlian.tariff" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true">
        <activity android:name=".PayActivity"  android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
       <!-- <meta-data
            android:name="APP_ID_PAY"
            android:value="${APP_ID_PAY}"/>
        <meta-data
            android:name="APP_KEY_PAY"
            android:value="${APP_KEY_PAY}"/>-->
    </application>

</manifest>
